.download-banner {
  background: linear-gradient(
    0deg,
    rgba(8, 97, 154, 1) 1000%,
    rgba(5, 6, 55, 1) 100%
  );
  border-bottom: 3px solid #6ba8f2;
  text-align: center;
  padding: 15px 0;
  border-radius: 4px;
  font-style: italic;
}

.download-banner__text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  margin-bottom: 10px;
}

.download-banner__button {
  display: inline-block;
  margin: 10px 0;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: 1px solid #f7dc6f;
  box-shadow: 0 0 15px #000;
}

.download-banner__button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.download-banner__subtext {
  color: #f4d03f;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  margin-top: 10px;
}
